.main-menu-hover {
    background-color: rgb(25, 118, 210);
}

.list__tile .avatar, .list__tile__action {
    min-width: 25px;
}

.is-dragging {
    background-color: orange !important;
    opacity: 0.1;
}

th, td {
    border: 1px solid #dbdbdb;
}

tr:nth-child(even) {background-color: #fafafa}

.dense-tiles .v-list__tile {
    height: fit-content;
    height: -moz-fit-content;
}

a {
    text-decoration: none;
}


.hovering-tile {
    /*transition:background .3s cubic-bezier(.25,.8,.5,1);*/
    will-change:background;
}

.navigation-drawer {
    z-index: 4; /* so that the sticky header hack doesn't go above it */
}

.rotate270 {
    transform: rotate(270deg);
}

.rotate180 {
    transform: rotate(180deg);
}

.rotate90 {
    transform: rotate(90deg);
}

.full-size-chart {
    position: relative; 
    height: calc(100%);
}

.toolbar__title {
    overflow: visible;
}

.selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: text;
}

.selectable-pointer {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: pointer;
}

.toolbar-fixed-bottom {
    bottom: 0;
    top:auto;
    position: fixed;
}

.zc-legend-marker-area,.zc-legend-item-area {
    cursor: pointer !important;
}

.opaque {
    opacity: 1;
}

.transparent50 {
    opacity: 0.1;
}

.soft-transition {
    transition: .3s cubic-bezier(.25,.8,.5,1);
}

.flex-toolbar {
    margin-top: -64px;
}

/* .select-file input[type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
  } */

.div-button {
    border-style: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    cursor: pointer;
}

.gray-background {
    background-color: #fafafa !important;
}

.flex {
    flex: 0 1 auto;
  }

.flex.grow {
    flex-grow: 0;
}

.full-width {
    width: 100%;
}

.mt-6 {
    margin-top: 64px !important;
}

.mt-12 {
    margin-top: 128px !important;
}

.pt-6 {
    padding-top: 64px !important;
}

/* .input-group label {
   white-space: normal; 
   overflow: inherit;
} */

/* To center header title */
.table-sorting-icon {
    margin-left: -20px;
}

table.table tbody td, table.table tbody th {
    height: unset;
}

table.table tbody td:first-child, table.table tbody td:not(:first-child), table.table tbody th:first-child, table.table tbody th:not(:first-child), table.table thead td:first-child, table.table thead td:not(:first-child), table.table thead th:first-child, table.table thead th:not(:first-child) {
    padding: 5px 12px;
}

.container.grid-list-md .layout:not(:only-child) {
    margin: unset;
}

/* .input-group--text-field.input-group--textarea:not(.input-group--full-width) .input-group__input {
    padding: 10px 5px 10px 5px;
} */

.input-group--text-field.input-group--textarea textarea {
    font-size: 14px;
    padding-right: 12px;
  }

.no-label  > .input-group__input {
    padding-top: 13px !important;
}

.row-highlight {
    font-weight: bold !important;
}

/* .follow-scroll-right-side {
     position: fixed;
    right: 0px; 
} */

/* remove padding underneath checkboxes */
.no-height > .input-group__details {
    min-height: auto !important;
}

/* remove padding above select drop downs*/
.no-height-select {
    padding-top: 0px !important;
}

/* align select label with when using css above*/
.no-height-select > label {
    top: 0px;
}

.table-btn {
    margin: 0px;
}

.draggable {
    cursor: move;
}

.draggable > .chip__content {
    cursor: move;
}

.expandable-filter {
    position: relative;
    left: -12px;
    min-width: 472px; /* to use most of the navigation drawer width */
}

.expansion-panel__header {
    padding-left: 12px;
}

.soft-grey-background {
    background-color: #fafafa !important;
}

.v-card__text {
    padding: 4px;
    width: 100%;
}

.v-card__text_default {
    padding: 16px;
    width: 100%;
}

/* .breadcrumbs {
    right: 5px;
    position: fixed;
    padding: 0px;
} */

.margin-auto {
    margin: auto;
}

/* When using a menu as a list item (submenu) */
.list-menu:hover {
    background: rgba(0,0,0,.12);
}

.mini-badge > .v-badge__badge {
    right: 12px;
    bottom: 10px !important;
    width: 20%;
    height: 20%;
}

.title-save-badge > .badge__badge {
    top: -25px !important;
}

.expansion-panel__header:hover {
    background: rgba(0,0,0,.12);
}

.no-text-transform {
    text-transform: none;
}

.card-actions-bottom {
    align-items: flex-end;
}

table.table tbody td {
    word-break: break-word;
}

.normal-word-break {
    word-break: normal !important;
}

/* Used by the navigation drawer to display some info */
.menu-status {
    bottom: 0px;
    position: fixed;
}

/* Used by the navigation drawer to display leaderboard info */
.menu-status-above {
    bottom: 30px;
    position: fixed;
}

.splash-screen {
    z-index: 1000 !important;
    width: calc(100% + 200px);
    /* height:100%; */
    position: absolute;
    background: rgb(254,254,254);
    left: 0px;
    top: 0px;
}

.splash-screen-item {
    position: absolute;
    /* left: 48%; */
    width: 100%;
}

.max300 {
    max-width: 300px !important;
}

.btn-toggle .btn {
    opacity: 1;
    cursor: pointer;
    
}

.goodies {
    position: fixed;
    z-index: 1000;
}

.centered {
    text-align: center;
}

.data-table-row-input {
    max-width: 100px !important;
}

.data-table-row-input .input-group.input-group--solo  {
    min-height: 0px;
}

.data-table-row-input .input-group.input-group--solo .input-group__input {
    padding-top: 4px;
    padding-bottom: 4px;
}

.multi-icon {
    margin-left: -15px;
    margin-top: 15px;
    opacity: 0.75;
}

.readonly-clin-sign {
    text-align: left;
    background: #ECEFF1;
}

.no-transition {
    transition: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

/* remove the padding over text-field (use with single-line)*/
.no-top-text-field {
    margin-top: -18px !important;
}

.top-right-dialog {
    position: absolute;
    right: -24px;
    top: -24px;
    opacity: 0.90;
}

.font-weight-thin{ font-weight:100}
.font-weight-light{ font-weight:300}
.font-weight-regular{ font-weight:400}
.font-weight-medium {font-weight:500}
.font-weight-bold{ font-weight:700}
.font-weight-black {font-weight:900}

.magic-wand {
    cursor: url(../images/goodies/auto-fix.png), auto;
    /* background-image: radial-gradient(white 25%, darkgray) !important; */
    background: darkgray;
}

.magic-transition {
    -webkit-transition: background 1.5s ease-out;
    -moz-transition: background 1.5s ease-out;
    -o-transition: background 1.5s ease-out;
    transition: background 1.5s ease-out;
    
}

 .plain-light-background {
    background: rgba(250, 250, 250, 1);
}

.faded-light-background {
    background: rgb(250, 250, 250, 0);
}

.shake {
  animation: shake 0.5s; 
  animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.align-flex-right {
    text-align: right;
}

.align-input-right input {
    text-align: right;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

.fixed-header table {
    table-layout: fixed;
}

.fixed-header th {
    background-color: #fff; /* just for LIGHT THEME, change it to #474747 for DARK */
    position: sticky;
    top: 0;
    /* z-index: 10; */
}

.fixed-header tr.datatable__progress th {
    top: 56px;
}

.fixed-header .table__overflow {
    overflow: auto;
    height: 100%;
}

.strike {
    text-decoration: line-through;
}

.cnv-list-height {
    max-height: 300px;
    overflow-y: auto;
}


/* for vuetify 1.5.16*/

.v-toolbar__content {
    padding: 0px 12px;
}

.small-solo-input .v-text-field.v-text-field--solo .v-input__control {
    min-height: 36px;
    min-height: 24px;
    max-width: 60px;
}

.menu-image .v-toolbar__content, .v-toolbar__extension {
    padding-left: 0px;
    padding-right: 0px;
}

table.v-table tbody td:first-child, table.v-table tbody td:not(:first-child), table.v-table tbody th:first-child, table.v-table tbody th:not(:first-child), table.v-table thead td:first-child, table.v-table thead td:not(:first-child), table.v-table thead th:first-child, table.v-table thead th:not(:first-child) {
    padding: 5px 12px;
}

.v-text-field {
    padding-bottom: 12px;
}

.no-tile-padding .v-list__tile {
    padding-left: 0px;
    padding-right: 0px;
}

.no-left-padding .v-chip__content {
    padding-left: 0px;
}

.multi-line-chip .v-chip__content {
    display: contents;
}

.no-margin-top-controls {
    margin-top: 0px;
}